@using Framework.ControlPanel.CommonCode.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <link href="/assets/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/assets/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="/assets/dist/css/custom.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/assets/bower_components/bootstrap-datepicker/tests/assets/jquery-1.7.1.min.js"></script>
    <link href="/assets/dist/img/icon.png" rel="icon" />
</head>
<body class="home_color_background">
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>