@{
    Layout = null;
}

<div class="error-page">
    <div class="error-content">
        <h1><i class="fa fa-warning text-red"></i> Access Denied!</h1>
        <strong>
            You are not authorized to access this page.<br />
            Meanwhile, you may <a href="/home/index">return to dashboard</a>
        </strong>
    </div>
</div>